<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW CHAT</title> 
    <link rel="stylesheet" href="/style.css">
</head>
<body> 
    <h3>NEW CHAT</h3>
    <form method="post" action="/chats">
     <input placeholder="WHO ARE YOU" name="from"><br><br><br>
     <textarea name="msg" > WRITE YOUR MESSAGE</textarea><br><br><br>
      <input name="to" placeholder="RECEIVER NAME"><br><br>
      <button>CREATE CHAT</button>
    </form>
</body>
</html>